body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

header {
    text-align: center;
    font-size: 30pt;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
}

p {
    margin: 10px 0;
    padding: 0;
}

.click-counter .number {
    font-size: 2em;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    /*background: rgba(0,0,0,0.3);*/
}

.cat-card {
    flex-basis: 40%;
    background: aliceblue;
    box-shadow: 1px 1px 5px #000;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
}

.cat-card img {
    max-width: 100%;
    max-height: 100%;
}


