body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

main {
    width: 80%;
    margin-left: 20%;
}

header {
    text-align: center;
    font-size: 4vw;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
}

p {
    margin: 10px 0;
    padding: 0;
}

.click-counter .number {
    font-size: 2em;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.cat-card {
    flex-basis: 70%;
    background: aliceblue;
    box-shadow: 1px 1px 5px #000;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 3% 15%;
    text-align: center;
    font-size: 2vw;
}

.cat-card h3 {
    font-size: 2.3em;
    padding: 0;
    margin: 0;
}

.cat-card p {
    padding: 0;
    margin: 0;
}

.cat-card img {
    max-width: 100%;
    max-height: 100%;
}

.side-menu {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
}


.side-menu h2 {
    text-align: center;
    color: white;
}

.side-menu ul {
    margin: 0;
    padding: 0;
}

.side-menu li {
    background: rgba(0,0,0,0.3);
    border-radius: 4px;
    list-style: none;
    margin: 10% 5%;
    width: 84%;
    padding: 5% 3%;
    color: white;
    text-align: center;
    transition: text-shadow 0.3s,
                background 0.3s,
                margin 0.4s,
                width 0.4s;
}

.side-menu li:hover {
    text-shadow: 0 0 6px antiquewhite;
    background: rgba(0,0,0,0.6);
    margin: 10% 2%;
    width: 90%;
}